<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>의연담: 의료진 소통 분석 앱</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <img src="/static/logo.png" alt="로고" class="logo">
            <h1>의연담: 의료진 소통 분석 앱</h1>
            <form action="/upload/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="audio/*" required>
                <button type="submit" class="btn-primary">업로드 및 분석 시작</button>
            </form>
        </div>
    </div>
</body>
</html>